
 /*#root {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  background-color: rgb(155, 190, 170); 
 }*/
 body {
  background-color: rgb(155, 190, 170);
  color: white;
  margin: 0 auto;
  max-width: 1800px;
}

   @tailwind base;
   @tailwind components;
   @tailwind utilities;

   .active{
    color: #f00;
    background-color: rgb(108, 239, 56);
}
.bglogin {
  background-image: url(./assets/olivier.jpg);
  /* background-size: cover; */
  /* height: 100vh; */
}

.marquee-container {
  width: 100%;
  overflow: hidden;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 60s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
